/* .all_products_pagination{
    margin: 0 auto;
} */
/* .login_form {
    margin: 0 auto;
} */

/* body{
    background-color: blue;
} */
/* .container {
    width: 200px; height: 200px;   margin: auto;
} */
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .table_element  {
    text-align: center;
  }
.review_img
{
    width: 150px;
}